.message {
    display: block;
    width: 450px;
    font-size: x-large;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper {
    margin: 10px;
    border-radius: 10px;
}
